.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For the entire scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* For the scrollbar track */
::-webkit-scrollbar-track {
  background: #2b395f; /* Track background */
    /* Rounded corners */
}

/* For the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: yellow; /* Thumb color */
  border-radius: 6px; /* Rounded corners */
}

/* For the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 182, 104); /* Darker thumb color on hover */
}
